// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#app {
    .navbar {
        background-color: var(--cor-principal) !important;
        .container {
            .navbar-brand {
                .logo {
                    width: 150px;
                }
            }
            .navbar-toggler {
                &:focus {
                    box-shadow: 0 0 0 1px #fff;
                }
                .navbar-toggler-icon {
                    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

div.acoes {
    float: right;
    .btn-principal {
        border-color: var(--cor-principal);
        background: transparent;
        color: var(--cor-principal);
        &:hover {
            color: #fff;
            background: var(--cor-principal);
        }
        &:first-child {
            margin-right: 10px;
        }
    }
}

.cliente {
    &#listar {
        td.acoes {
            a:first-child {
                margin-right: 10px;
            }
        }
    }
}

body {
    a {
        text-decoration: none;
    }
}