// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

#app {
    > .navbar {
        background-color: var(--cor-principal) !important;
        .container {
            .navbar-brand {
                .logo {
                    width: 150px;
                }
            }
            .navbar-toggler {
                &:focus {
                    box-shadow: 0 0 0 1px #fff;
                }
                .navbar-toggler-icon {
                    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    > .py-4 {
        .container {
            .card {
                .card-header {
                    user-select: none;
                }
            }
        }
    }
}

div.acoes {
    .btn-principal {
        border-color: var(--cor-principal);
        background: transparent;
        color: var(--cor-principal);
        &:hover {
            color: #fff;
            background: var(--cor-principal);
        }
    }
    div {
        float: right;
        .btn {
            margin-left: 10px;
        }
    }
}

.cliente {
    .card-body {
        .navbar {
            .form-inline {
                width: 100%;
                display: flex;
                input {
                    width: 80%;
                }
                button {
                    margin-left: 15px;
                    flex: 1;
                }
            }
        }
        table {
            td,
            th {
                vertical-align: middle;
            }
            td.acoes {
                @media (max-width: 767px) {
                    text-align: center;
                }
                a {
                    @media (min-width: 767px) {
                        margin-right: 10px;
                    }
                    transition: opacity 0.3s;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        > nav.d-flex {
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            .pagination.only-phone {
                margin-top: 5px;
                width: 100%;
            }
        }
    }
}

body {
    a {
        text-decoration: none;
    }
    ul,
    p {
        margin: 0;
    }

    @media (max-width: 767px) {
        .hidden-phone {
            display: none !important;
        }
    }

    @media (min-width: 767px) {
        .only-phone {
            display: none !important;
        }
    }
}
